@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.container {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
    top: 0;
    text-align: left;
    align-items: center;
}

header nav{
    float: right;
    width: 50%;
}

header nav ul li {
    display: inline-block;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

.container a{
    color: black;
    text-decoration: none;
    align-content: space-between;
    margin:20px;
}

.container a:hover{
    color: blue;
}

.logo{
    width: 300px;
}

.resize{
    width: 95%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper{
    width: 420px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 90%;
    height: 100%;
    font-size: 16px;
    padding: 20px 45px 20px 10px;
}

.wrapper .register-link{
    text-align: center;
    font-size: 14.5px;
    margin-bottom:10px;
}

.register-link a:hover {
    text-decoration: underline;
    color: blue;
}

.input-box i{
    position: absolute;
    right:30px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.remember label input{
    accent-color: #fff;
    margin-right: 10px;

}

.remember a{
    color:blue;
    text-decoration: underline;
}


.wrapper .btn{
    width: 90%;
    height: 45px;
    background: #8fc44e;
    border: none;
    cursor: pointer;
    color:white;
    font-size: 16px;
    font-weight: 600;
}

.register-link p a {
    color:blue;
    text-decoration: underline;
}






